* {
    box-sizing: border-box;
}

:root {
    --one: rgb(34, 19, 19);
    --two: rgb(223, 223, 77); 
    --three: rgb(151, 20, 20);
}

body {
    color: var(--one);
    min-height: 100vh;
    line-height: 1.5;
    font-weight: 900;
    font-style: normal
}

nav {
    text-align: right;
    margin-right: 20px;
}

nav::after {
    content: '\273A';
}

nav::before {
    content: '\273A';
}

a {
    text-decoration: none;
}

.children code:nth-child(even) {
    background-color: #b9c6ae;
    color: #13293d;
  }

.section {
    color: black;
    text-align: center;
}

#list {
    list-style-type: none;
}

figure img:hover {
    flex: 2 1;
    box-shadow: 5px 5px 5px 5px orange;
}

#paragraph {
    color: black;
    display: inline;
}

#sample-img {
    transform: rotate(180deg);
    transform: scale(1.5, 1);
    transform: skew(15deg);
    border: solid 5px black
}

/* adding dims to elements; 
content area, padding area, border area;
position: static, relative, fixed, absolute (top, bottom, left, right) */
.box {
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
    font-family: Arial;
    font-size: 20px;
    width: 50%;
    text-align: center;
    border: solid 5px black;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

form {
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

#form-btn:hover {
    background-color: red;
}

#form-btn:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
  }

textarea {
    width: 60%;
    height: 100px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

footer {
    text-align: center;
    margin-top: 3%;
}

aside div {
    color: blue;
    text-align: center;
}

/* pc */
@media screen and (max-width: 992px) {
    header {
      background: blue;
    }

    .box {
        background-color: red;
        align-items: center;
    }
  }
  
  /* tablet  */
  @media screen and (max-width: 768px) {
    aside div {
      background-color: yellow;
      order: 2
    }
  }
  
  @media screen and (max-width: 576px) {
    footer {
      background-color: blue;
      height: calc(100vh - 200px);
      flex-shrink: 0
    }
  }