/* note can always add class or id to extend bootstrap component */
/* * selector contains Google Font family 
      https://fonts.google.com/
*/

* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

.classy {
  font-size: 30px;
  color: rgb(247, 88, 88);
  background-color: black;
  border-radius: 2em;
  width: 300px;
  margin: 1.5rem auto;
  padding: 20px
}

#mcoc-body {
  background-color: black;
}

h3 {
  margin-bottom: 20px;
}

span {
  margin: 10px;
}

.champ-type-1 {
  color: rgb(236, 0, 0);
}

.champ-type-2 {
  color: yellow
}

.champ-type-3 {
  color: rgb(45, 126, 248)
}

.champ-type-4 {
  color: rgb(107, 252, 252)
}

.champ-type-5 {
  color: rgb(255, 96, 255)
}

.champ-type-6 {
  color: rgb(5, 228, 5)
}

main {
  margin: 3rem auto;
  max-width: 90vw;
  width: 40ch;
}

#champ-form {
  color: black;
}

.web-references {
  color: black
}

.web-references h2 {
  color: white;
  margin-bottom: 30px;
}

#header-card {
  color: white
}

#references-section {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}